<!-- Offcanvas menu button -->
<div class="d-grid mb-0 d-lg-none w-100">
  <button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
    <i class="fas fa-sliders-h"></i> Menu
  </button>
</div>

<!-- travel preferences info START -->
<div class="card border">
  <!-- Card header -->
  <div class="card-header border-bottom">
    <h4 class="card-header-title">Your Opinion Matters</h4>
  </div>

  <!-- Card body START -->
  <div class="card-body">
    <!-- Leave review START -->
    <form class="mb-2" [formGroup]="feedbackForm" (ngSubmit)="onFeedbackSubmit()">
      <!-- Rating -->
      <div class="form-control-bg-light mb-3">
        <select id="rating" class="form-select" formControlName="stars">
          <option value="" disabled>Select rating</option>
        </select>
      </div>

      <!-- Message -->
      <div class="form-control-bg-light mb-3">
        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Your review" rows="3"
                  formControlName="feedback" [readOnly]="flag">

        </textarea>
        <div class="mt-2">
          <mat-error
            *ngIf="feedbackForm.controls['feedback'].hasError('required') && feedbackForm.controls['feedback'].touched">
            Feedback must not be <strong>empty</strong></mat-error>

          <mat-error
            *ngIf="feedbackForm.controls['feedback'].hasError('pattern')">
            Feedback must not contain <strong>special characters</strong></mat-error>
        </div>
      </div>
      <div  class="text-center mt-2">
        <!-- Button -->
        <button [disabled]="flag" type="submit" class="btn btn-lg btn-primary mb-0"
        >Post review
        </button>
      </div>
    </form>
    <!-- Leave review END -->
  </div>
  <!-- Card body END -->
</div>
<!-- travel preferences info END -->
