<!-- Page main content START -->
<div class="page-content-wrapper p-xxl-4">

  <!-- Title -->
  <div class="row">
    <div class="col-12 mb-4 mb-sm-5">
      <div class="d-sm-flex justify-content-between align-items-center">
        <h1 class="h3 mb-3 mb-sm-0">Ride List</h1>
      </div>
    </div>
  </div>

  <!-- Search and select START -->
  <div class="row g-3 align-items-center justify-content-between mb-5">
    <!-- Search -->
    <div class="col-md-8">
      <form class="rounded position-relative">
        <input class="form-control pe-5" type="search" placeholder="Search" aria-label="Search">
        <button class="btn border-0 px-3 py-0 position-absolute top-50 end-0 translate-middle-y"
                type="submit"><i class="fas fa-search fs-6"></i></button>
      </form>
    </div>

    <!-- Select option -->
    <div class="col-md-3">
      <!-- Short by filter -->
      <form>
        <select class="form-select js-choice" aria-label=".form-select-sm">
          <option value="">Sort by</option>
          <option>Newest</option>
          <option>Oldest</option>
        </select>
      </form>
    </div>
  </div>
  <!-- Search and select END -->

  <!-- agent list START -->
  <div class="row g-4">
    <!-- Ride item -->
    <div class="col-lg-6">
      <div class="card shadow p-3">
        <div class="row g-4">
        </div>
      </div>
    </div>
    <ng-container *ngIf="_rides">
      <app-ride-card *ngFor="let ride of _rides" [ride]="ride"></app-ride-card>
    </ng-container>
  <!-- agent list END -->

  <!-- Pagination START -->
  <div class="d-sm-flex justify-content-sm-between align-items-sm-center mt-4">
    <!-- Content -->
    <p class="mb-sm-0 text-center text-sm-start">Showing 1 to 8 of 20 entries</p>
    <!-- Pagination -->
    <nav class="mb-sm-0 d-flex justify-content-center" aria-label="navigation">
      <ul class="pagination pagination-sm pagination-primary-soft mb-0">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Prev</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active"><a class="page-link" href="#">2</a></li>
        <li class="page-item disabled"><a class="page-link" href="#">..</a></li>
        <li class="page-item"><a class="page-link" href="#">15</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- Pagination END -->

</div>
<!-- Page main content END -->
</div>
