<main>
  <section class="pt-3">
    <div class="container">
      <div class="row">

        <!-- Sidebar START -->
        <!-- Sidebar END -->

        <!-- Main content START -->
        <div class="col-lg-8 col-xl-9">


          <div class="container position-relative" data-sticky-container>
            <div class="row g-4">
              <!-- Left Content START -->
              <div class="col-xl-12">
                <div class="vstack gap-4">

                  <app-ride-details-card [ride]="ride"></app-ride-details-card>


                  <!-- Ride request START -->
                  <div class="card border bg-transparent">
                    <!-- Card header -->
                    <div class="card-header bg-transparent border-bottom">
                      <h4 class="card-header-title">Passengers</h4>
                    </div>

                    <!-- Card body START -->
                    <ng-container *ngFor="let passenger of passengers">
                      <app-user-card [user]="passenger._user"></app-user-card>
                    </ng-container>
                    <!-- Card body END -->


                  </div>
                  <!-- Ride request END -->
                  <!-- Card START -->
                  <div class="card border" *ngIf="isDriver">
                    <!-- Card header -->
                    <div class="card-header border-bottom">
                      <h4 class="card-header-title">Delete Ride</h4>
                    </div>
                    <!-- Card body START -->
                    <div class="card-body">
                      <div class="form-check form-check-md mb-3">
                        <input class="form-check-input" type="checkbox" value="" id="deleteaccountCheck" [(ngModel)]="isDeleteChecked">
                        <label class="form-check-label">Yes, I'd like to delete my
                          ride</label>
                      </div>
                      <button class="btn btn-danger btn-sm mb-0" (click)="deleteRide()" [disabled]="!isDeleteChecked">
                        Delete my ride
                      </button>
                    </div>
                    <!-- Card body END -->
                  </div>

                  <div class="card border" *ngIf="!isDriver">
                    <!-- Card header -->
                    <div class="card-header border-bottom">
                      <h4 class="card-header-title">Cancel Ride Booking</h4>
                    </div>
                    <!-- Card body START -->
                    <div class="card-body">
                      <div class="form-check form-check-md mb-3">
                        <input class="form-check-input" type="checkbox" value=""
                               id="cancelCheck" [(ngModel)]="isCanselChecked">
                        <label class="form-check-label" for="cancelCheck">Yes, I'd
                          like to cancel my
                          booking</label>
                      </div>
                      <button href="#" class="btn btn-danger btn-sm mb-0" (click)="cancelRide()"
                              [disabled]="!isCanselChecked">Cancel my booking
                      </button>
                    </div>
                    <!-- Card body END -->
                  </div>
                  <!-- Card END -->


                </div>
              </div>
              <!-- Left Content END -->
            </div>
          </div>
        </div>
      </div>
      <!-- Main content END -->

    </div>
  </section>
</main>
