<!-- Card body START -->
<div class="card-body vstack gap-4">
  <!-- Ride request item START -->
  <div class="card shadow p-2">
    <div class="row g-0 align-items-center">
      <!-- Card img -->
      <div class="col-md-3 text-center">
        <div class="avatar avatar-xl">
          <img class="avatar-img rounded" src="{{user.imagePath|| '/assets/images/avatar/13.jpg' }}" alt="avatar">
        </div>
      </div>

      <!-- Card body -->
      <div class="col-md-6">
        <div class="card-body py-md-2 d-flex flex-column h-100">

          <!-- Title -->
          <h5 class="card-title mb-1">
            <a routerLink="/user/details/{{user.id}}">{{user.firstName}} {{user.lastName}}</a></h5>
          <!-- Rating and buttons -->
          <div class="d-flex justify-content-between align-items-center">
            <ul class="list-inline small mb-0">
              <li class="list-inline-item me-0" *ngFor="let star of getFullStars()">
                <i class="fa-solid fa-star text-warning"></i>
              </li>
              <li class="list-inline-item" *ngIf="hasHalfStar()">
                <i class="fa-solid fa-star-half-alt text-warning"></i>
              </li>
              <li class="list-inline-item">
                <p>{{ userRate }}</p>
              </li>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </div>
  <!-- Ride request item END -->


</div>
<!-- Card body END -->
