<!-- Offcanvas menu button -->
<div class="d-grid mb-0 d-lg-none w-100">
  <button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
    <i class="fas fa-sliders-h"></i> Menu
  </button>
</div>

<div class="card border bg-transparent">
  <!-- Card header -->
  <div class="card-header bg-transparent border-bottom d-flex justify-content-between">
    <h4 class="card-header-title">My Vehicles</h4>
    <div class="mt-2 mt-md-0">
      <a routerLink="/account/add-vehicle" class="btn btn-success mb-0">Add Vehicle</a>
    </div>
  </div>

  <!-- Card body START -->
  <div class="card-body p-0">

    <!-- Tabs content START -->
    <div class="tab-content p-2 p-sm-4" id="nav-tabContent">

      <!-- Tab content item START -->
      <div class="tab-pane fade show active" id="tab-1">
        <h6>Vehicles ({{cars.length}})</h6>
        <!-- Card item START -->
        <div *ngFor="let car of cars" class="card border">
          <!-- Card header -->
          <div class="card-header border-bottom d-md-flex justify-content-md-between align-items-center">
            <!-- Icon and Title -->
            <div class="d-flex align-items-center">
              <div class="icon-lg bg-light rounded-circle flex-shrink-0"><i class="fa-solid fa-car"></i></div>
              <!-- Title -->
              <div class="ms-2">
                <h6 class="card-title mb-0">{{ car.make }} {{ car.model }}</h6>
                <ul class="nav nav-divider small">
                  <li class="nav-item">License Plate: {{ car.licensePlate }}</li>
                </ul>
              </div>
            </div>

            <div class="col-md-3 text-center align-items-end">
              <a class="btn btn-outline-primary" routerLink="/account/vehicle-details/{{car.id}}">View</a>
                            <a routerLink="/account/vehicle-details"
                               class="btn btn-outline-secondary" routerLink="/account/manage-vehicle">Manage</a>
            </div>
          </div>

          <!-- Card body -->
          <div class="card-body">
            <div class="row g-3">
              <div class="col-sm-6 col-md-4">
                <span>Model Year</span>
                <h6 class="mb-0">{{ car.modelYear }}</h6>
              </div>

              <div class="col-sm-6 col-md-4">
                <span>Color</span>
                <h6 class="mb-0">{{ car.color }}</h6>
              </div>

              <div class="col-md-4">
                <span>Number of seats</span>
                <h6 class="mb-0">{{ car.seats }}</h6>
              </div>
            </div>
          </div>
        </div>

        <!-- Card item END -->
      </div>
      <!-- Tabs content item END -->
    </div>

  </div>
  <!-- Card body END -->
</div>
