<!-- Offcanvas menu button -->
<div class="d-grid mb-0 d-lg-none w-100">
  <button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
    <i class="fas fa-sliders-h"></i> Menu
  </button>
</div>

<!-- travel preferences info START -->
<div class="card border">
  <!-- Card header -->
  <div class="card-header border-bottom">
    <h4 class="card-header-title">Travel Preferences</h4>
  </div>

  <!-- Card body START -->
  <div class="card-body">
    <!-- Form START -->
    <form class="row g-3">

      <div class="col-md-6">
        <label class="form-label">Chattiness</label>
        <select class="form-select js-choice" >
          <option *ngFor="let preference of musicTravelPreferences" [value]="preference.id">
            {{ preference.description }}
          </option>
        </select>
      </div>


      <!-- Music -->
      <div class="col-md-6">
        <label class="form-label">Music</label>
        <select class="form-select js-choice">
          <option value="" selected>Select a Travel Preference</option>
          <option>It’s all about the playlist!</option>
          <option >I’ll jam depending on the mood</option>
          <option>Silence is golden</option>
        </select>
      </div>

      <!-- Smoking -->
      <div class="col-md-6">
        <label class="form-label">Smoking</label>
        <select class="form-select js-choice">
          <option value="" selected>Select a Travel Preference</option>
          <option>I’m fine with smoking</option>
          <option >Cigarette breaks outside the car are ok</option>
          <option>Please, no smoking in the car</option>
        </select>
      </div>

      <!-- Pets -->
      <div class="col-md-6">
        <label class="form-label">Pets</label>
        <select class="form-select js-choice">
          <option value="" selected>Select a Travel Preference</option>
          <option>I love pets. Woof!</option>
          <option >I’ll travel with pets depending on the animal</option>
          <option>Sorry, not a pet person</option>
        </select>
      </div>



      <!-- Button -->
      <div class="col-12 text-end">
        <a href="#" class="btn btn-primary mb-0">Save Changes</a>
      </div>
    </form>
    <!-- Form END -->
  </div>
  <!-- Card body END -->
</div>
<!-- travel preferences info END -->

