<!-- =======================
Menu item START -->
<!--<section class="pt-4">-->
<!--  <div class="container">-->
<!--    <div class="card rounded-3 border p-3 pb-2">-->
<!--      &lt;!&ndash; Avatar and info START &ndash;&gt;-->
<!--      <div class="d-sm-flex align-items-center">-->
<!--        <div class="avatar avatar-xl mb-2 mb-sm-0">-->
<!--          <img class="avatar-img rounded-circle" src="../../../../../assets/images/avatar/01.jpg" alt="">-->
<!--        </div>-->
<!--        <h4 class="mb-2 mb-sm-0 ms-sm-3"><span class="fw-light">Hi</span> Jacqueline Miller</h4>-->
<!--      </div>-->
<!--      &lt;!&ndash; Avatar and info START &ndash;&gt;-->

<!--      &lt;!&ndash; Responsive navbar toggler &ndash;&gt;-->
<!--      <button class="btn btn-primary w-100 d-block d-xl-none mt-2" type="button"-->
<!--              data-bs-toggle="offcanvas" data-bs-target="#dashboardMenu" aria-controls="dashboardMenu">-->
<!--        <i class="bi bi-list"></i> Dashboard Menu-->
<!--      </button>-->

<!--      &lt;!&ndash; Nav links START &ndash;&gt;-->
<!--      <div class="offcanvas-xl offcanvas-end mt-xl-3" tabindex="-1" id="dashboardMenu">-->
<!--        <div class="offcanvas-header border-bottom p-3">-->
<!--          <h5 class="offcanvas-title">Menu</h5>-->
<!--          <button type="button" class="btn-close" data-bs-dismiss="offcanvas"-->
<!--                  data-bs-target="#dashboardMenu" aria-label="Close"></button>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; Nav links END &ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!-- =======================
Menu item END -->

<!-- =======================
Content START -->
<section class="pt-0">
  <app-account-profile></app-account-profile>
</section>
<!-- =======================
Content END -->
