<!-- Page main content START -->
<div class="page-content-wrapper p-xxl-4">
  <!-- Counter boxes START -->
  <div class="row g-4 mb-5">
    <!-- Counter item -->
    <div class="col-md-6 col-xxl-3">
      <div
        class="card card-body bg-warning bg-opacity-10 border border-warning border-opacity-25 p-4 h-100">
        <div class="d-flex justify-content-between align-items-center">
          <!-- Digit -->
          <div>
            <h4 class="mb-0">56</h4>
            <span class="h6 fw-light mb-0">Total Users</span>
          </div>
          <!-- Icon -->
          <div class="icon-lg rounded-circle bg-warning text-white mb-0"><i
            class="bi bi-people"></i></div>
        </div>
      </div>
    </div>

    <!-- Counter item -->
    <div class="col-md-6 col-xxl-3">
      <div
        class="card card-body bg-danger bg-opacity-10 border border-danger border-opacity-25 p-4 h-100">
        <div class="d-flex justify-content-between align-items-center">
          <!-- Digit -->
          <div>
            <h4 class="mb-0">32</h4>
            <span class="h6 fw-light mb-0">Total Reports</span>
          </div>
          <!-- Icon -->
          <div class="icon-lg rounded-circle bg-danger text-white mb-0"><i
            class="bi bi-flag"></i></div>
        </div>
      </div>
    </div>

    <!-- Counter item -->
    <div class="col-md-6 col-xxl-3">
      <div
        class="card card-body bg-primary bg-opacity-10 border border-primary border-opacity-25 p-4 h-100">
        <div class="d-flex justify-content-between align-items-center">
          <!-- Digit -->
          <div>
            <h4 class="mb-0">245</h4>
            <span class="h6 fw-light mb-0">Total Rides</span>
          </div>
          <!-- Icon -->
          <div class="icon-lg rounded-circle bg-primary text-white mb-0"><i
            class="bi bi-car-front-fill"></i></div>
        </div>
      </div>
    </div>

    <!-- Counter item -->
    <div class="col-md-6 col-xxl-3">
      <div
        class="card card-body bg-info bg-opacity-10 border border-info border-opacity-25 p-4 h-100">
        <div class="d-flex justify-content-between align-items-center">
          <!-- Digit -->
          <div>
            <h4 class="mb-0">147</h4>
            <span class="h6 fw-light mb-0">Booked Room</span>
          </div>
          <!-- Icon -->
          <div class="icon-lg rounded-circle bg-info text-white mb-0"><i
            class="fa-solid fa-building-circle-check fa-fw"></i></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Counter boxes END -->



  <!-- Widget START -->
  <div class="row g-4">
    <!-- Booking Chart START -->
    <div class="col-xxl-8">
      <!-- Chart START -->
      <div class="card shadow h-100">
        <!-- Card header -->
        <div class="card-header border-bottom">
          <h5 class="card-header-title">User Activity</h5>
        </div>

        <!-- Card body -->
        <div class="card-body">
          <!-- Content -->
          <div class="d-flex gap-4 mb-3">
            <h6><span class="fw-light"><i class="bi bi-square-fill text-primary"></i>
                                            Sign-up:</span> 475 Accounts</h6>
            <h6><span class="fw-light"><i class="bi bi-square-fill text-info"></i>
                                            account-delete:</span> 157 Accounts</h6>
          </div>
          <!-- Apex chart -->
          <div id="ChartGuesttraffic" class="mt-2"></div>
        </div>
      </div>
      <!-- Chart END -->
    </div>
    <!-- Booking Chart END -->

    <!-- Booking graph START -->
    <div class="col-lg-6 col-xxl-4">
      <div class="card shadow h-100">
        <!-- Card header -->
        <div class="card-header border-bottom">
          <h5 class="card-header-title">Room Availability</h5>
        </div>

        <!-- Card body START -->
        <div class="card-body p-3">
          <!-- Chart -->
          <div class="col-sm-6 mx-auto">
            <div class="d-flex justify-content-center" id="ChartTrafficRooms"></div>
          </div>

          <!-- Content -->
          <ul class="list-group list-group-borderless mb-0">
            <li class="list-group-item d-flex justify-content-between">
                                        <span class="h6 fw-light mb-0"><i class="text-primary fas fa-circle me-2"></i>
                                            Upcoming</span>
              <span class="h6 fw-light mb-0">73 Rides</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                                        <span class="h6 fw-light mb-0"><i class="text-danger fas fa-circle me-2"></i>
                                            Cancelled</span>
              <span class="h6 fw-light mb-0">245 Rides</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                                        <span class="h6 fw-light mb-0"><i class="text-success fas fa-circle me-2"></i>
                                            Completed</span>
              <span class="h6 fw-light mb-0">173 Rides</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Booking graph END -->
  </div>
  <!-- Widget END -->

  <!-- Hotel grid START -->
  <div class="row g-4 mt-5">
    <!-- Title -->
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <h4 class="mb-0">Latest Rides</h4>
        <a href="#" class="btn btn-primary-soft mb-0">View All</a>
      </div>
    </div>

    <!-- Ride item -->
    <div class="col-lg-6">
      <div class="card shadow p-3">
        <div class="row g-4">
          <!-- Card body -->
          <div class="col-md-12">
            <div class="card-body position-relative d-flex flex-column p-0 h-100">

              <!-- Card body -->
              <div class="card-body p-4 pb-0">
                <!-- Ticket item START -->
                <div class="row g-4 justify-content-center mb-4">
                  <!-- Airport detail -->
                  <div class="col-sm-4 col-md-3">
                    <div class="text-center">
                      <h4>07:35</h4>
                      <h6 class="mb-0">Irbid</h6>
                    </div>
                  </div>

                  <!-- Time -->
                  <div class="col-sm-4 col-md-6 my-sm-auto text-center">
                    <!-- Time -->
                    <h5>9hr 50min</h5>
                    <div class="position-relative my-4">
                      <!-- Line -->
                      <hr class="bg-primary opacity-5 position-relative">
                      <!-- Icon -->
                      <div
                        class="icon-md bg-primary text-white rounded-circle position-absolute top-50 start-50 translate-middle">
                        <i class="bi bi-car-front-fill"></i>
                      </div>
                    </div>
                  </div>

                  <!-- Airport detail -->
                  <div class="col-sm-4 col-md-3  align-items-center justify-content-center">
                    <div class="text-center">
                      <h4>07:35</h4>
                      <h6 class="mb-0">Amman</h6>
                    </div>
                  </div>

                </div>
                <!-- Ticket item END -->
              </div>

              <!-- Card footer START -->
              <div class="card-footer border-top p-0 pt-3 ">
                <div class="container">
                  <div class="row mt-3 align-items-center">
                    <div class="col-md-6 text-md-center">
                      <!-- Rating Star -->
                      <ul class="list-inline">
                        <div class="avatar">
                          <img class="avatar-img rounded-circle" src="../../../../../assets/images/avatar/01.jpg"
                               alt="avatar">
                        </div>
                        <li class="list-inline-item me-0 mx-2"><i
                          class="fa-solid fa-star text-warning"></i></li>
                        <li class="list-inline-item h6 fw-normal me-1 mb-0">4.5</li>
                        <li class="list-inline-item h6 fw-normal me-1 mb-0">
                          <p> | Hasan</p>
                        </li>
                      </ul>
                    </div>

                    <div class="col-md-6 text-md-center">
                      <!-- Price -->
                      <h4>5.50 JOD</h4>
                      <a href="flight-detail.html" class="btn btn-dark mb-0 mb-sm-2">Book Now</a>
                    </div>
                  </div>
                </div>
                <!-- Price -->
              </div>
              <!-- card footer END -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Ride item -->
    <div class="col-lg-6">
      <div class="card shadow p-3">
        <div class="row g-4">
          <!-- Card body -->
          <div class="col-md-12">
            <div class="card-body position-relative d-flex flex-column p-0 h-100">

              <!-- Card body -->
              <div class="card-body p-4 pb-0">
                <!-- Ticket item START -->
                <div class="row g-4 justify-content-center mb-4">
                  <!-- Airport detail -->
                  <div class="col-sm-4 col-md-3">
                    <div class="text-center">
                      <h4>07:35</h4>
                      <h6 class="mb-0">Irbid</h6>
                    </div>
                  </div>

                  <!-- Time -->
                  <div class="col-sm-4 col-md-6 my-sm-auto text-center">
                    <!-- Time -->
                    <h5>9hr 50min</h5>
                    <div class="position-relative my-4">
                      <!-- Line -->
                      <hr class="bg-primary opacity-5 position-relative">
                      <!-- Icon -->
                      <div
                        class="icon-md bg-primary text-white rounded-circle position-absolute top-50 start-50 translate-middle">
                        <i class="bi bi-car-front-fill"></i>
                      </div>
                    </div>
                  </div>

                  <!-- Airport detail -->
                  <div class="col-sm-4 col-md-3  align-items-center justify-content-center">
                    <div class="text-center">
                      <h4>07:35</h4>
                      <h6 class="mb-0">Amman</h6>
                    </div>
                  </div>

                </div>
                <!-- Ticket item END -->
              </div>

              <!-- Card footer START -->
              <div class="card-footer border-top p-0 pt-3 ">
                <div class="container">
                  <div class="row mt-3 align-items-center">
                    <div class="col-md-6 text-md-center">
                      <!-- Rating Star -->
                      <ul class="list-inline">
                        <div class="avatar">
                          <img class="avatar-img rounded-circle" src="../../../../../assets/images/avatar/01.jpg"
                               alt="avatar">
                        </div>
                        <li class="list-inline-item me-0 mx-2"><i
                          class="fa-solid fa-star text-warning"></i></li>
                        <li class="list-inline-item h6 fw-normal me-1 mb-0">4.5</li>
                        <li class="list-inline-item h6 fw-normal me-1 mb-0">
                          <p> | Hasan</p>
                        </li>
                      </ul>
                    </div>

                    <div class="col-md-6 text-md-center">
                      <!-- Price -->
                      <h4>5.50 JOD</h4>
                      <a href="flight-detail.html" class="btn btn-dark mb-0 mb-sm-2">Book Now</a>
                    </div>
                  </div>
                </div>
                <!-- Price -->
              </div>
              <!-- card footer END -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Ride item -->
    <div class="col-lg-6">
      <div class="card shadow p-3">
        <div class="row g-4">
          <!-- Card body -->
          <div class="col-md-12">
            <div class="card-body position-relative d-flex flex-column p-0 h-100">

              <!-- Card body -->
              <div class="card-body p-4 pb-0">
                <!-- Ticket item START -->
                <div class="row g-4 justify-content-center mb-4">
                  <!-- Airport detail -->
                  <div class="col-sm-4 col-md-3">
                    <div class="text-center">
                      <h4>07:35</h4>
                      <h6 class="mb-0">Irbid</h6>
                    </div>
                  </div>

                  <!-- Time -->
                  <div class="col-sm-4 col-md-6 my-sm-auto text-center">
                    <!-- Time -->
                    <h5>9hr 50min</h5>
                    <div class="position-relative my-4">
                      <!-- Line -->
                      <hr class="bg-primary opacity-5 position-relative">
                      <!-- Icon -->
                      <div
                        class="icon-md bg-primary text-white rounded-circle position-absolute top-50 start-50 translate-middle">
                        <i class="bi bi-car-front-fill"></i>
                      </div>
                    </div>
                  </div>

                  <!-- Airport detail -->
                  <div class="col-sm-4 col-md-3  align-items-center justify-content-center">
                    <div class="text-center">
                      <h4>07:35</h4>
                      <h6 class="mb-0">Amman</h6>
                    </div>
                  </div>

                </div>
                <!-- Ticket item END -->
              </div>

              <!-- Card footer START -->
              <div class="card-footer border-top p-0 pt-3 ">
                <div class="container">
                  <div class="row mt-3 align-items-center">
                    <div class="col-md-6 text-md-center">
                      <!-- Rating Star -->
                      <ul class="list-inline">
                        <div class="avatar">
                          <img class="avatar-img rounded-circle" src="../../../../../assets/images/avatar/01.jpg"
                               alt="avatar">
                        </div>
                        <li class="list-inline-item me-0 mx-2"><i
                          class="fa-solid fa-star text-warning"></i></li>
                        <li class="list-inline-item h6 fw-normal me-1 mb-0">4.5</li>
                        <li class="list-inline-item h6 fw-normal me-1 mb-0">
                          <p> | Hasan</p>
                        </li>
                      </ul>
                    </div>

                    <div class="col-md-6 text-md-center">
                      <!-- Price -->
                      <h4>5.50 JOD</h4>
                      <a href="flight-detail.html" class="btn btn-dark mb-0 mb-sm-2">Book Now</a>
                    </div>
                  </div>
                </div>
                <!-- Price -->
              </div>
              <!-- card footer END -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Ride item -->
    <div class="col-lg-6">
      <div class="card shadow p-3">
        <div class="row g-4">
          <!-- Card body -->
          <div class="col-md-12">
            <div class="card-body position-relative d-flex flex-column p-0 h-100">

              <!-- Card body -->
              <div class="card-body p-4 pb-0">
                <!-- Ticket item START -->
                <div class="row g-4 justify-content-center mb-4">
                  <!-- Airport detail -->
                  <div class="col-sm-4 col-md-3">
                    <div class="text-center">
                      <h4>07:35</h4>
                      <h6 class="mb-0">Irbid</h6>
                    </div>
                  </div>

                  <!-- Time -->
                  <div class="col-sm-4 col-md-6 my-sm-auto text-center">
                    <!-- Time -->
                    <h5>9hr 50min</h5>
                    <div class="position-relative my-4">
                      <!-- Line -->
                      <hr class="bg-primary opacity-5 position-relative">
                      <!-- Icon -->
                      <div
                        class="icon-md bg-primary text-white rounded-circle position-absolute top-50 start-50 translate-middle">
                        <i class="bi bi-car-front-fill"></i>
                      </div>
                    </div>
                  </div>

                  <!-- Airport detail -->
                  <div class="col-sm-4 col-md-3  align-items-center justify-content-center">
                    <div class="text-center">
                      <h4>07:35</h4>
                      <h6 class="mb-0">Amman</h6>
                    </div>
                  </div>

                </div>
                <!-- Ticket item END -->
              </div>

              <!-- Card footer START -->
              <div class="card-footer border-top p-0 pt-3 ">
                <div class="container">
                  <div class="row mt-3 align-items-center">
                    <div class="col-md-6 text-md-center">
                      <!-- Rating Star -->
                      <ul class="list-inline">
                        <div class="avatar">
                          <img class="avatar-img rounded-circle" src="../../../../../assets/images/avatar/01.jpg"
                               alt="avatar">
                        </div>
                        <li class="list-inline-item me-0 mx-2"><i
                          class="fa-solid fa-star text-warning"></i></li>
                        <li class="list-inline-item h6 fw-normal me-1 mb-0">4.5</li>
                        <li class="list-inline-item h6 fw-normal me-1 mb-0">
                          <p> | Hasan</p>
                        </li>
                      </ul>
                    </div>

                    <div class="col-md-6 text-md-center">
                      <!-- Price -->
                      <h4>5.50 JOD</h4>
                      <a href="flight-detail.html" class="btn btn-dark mb-0 mb-sm-2">Book Now</a>
                    </div>
                  </div>
                </div>
                <!-- Price -->
              </div>
              <!-- card footer END -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hotel grid END -->

</div>
<!-- Page main content END -->
