<app-header></app-header>
<main>

  <!-- =======================
  Content START -->
  <section class="pt-3">
    <div class="container">
      <div class="row">
        <!-- Sidebar START -->
        <div class="col-lg-4 col-xl-3">
          <!-- Responsive offcanvas body START -->
          <div class="offcanvas-lg offcanvas-end" tabindex="-1" id="offcanvasSidebar">
            <!-- Offcanvas header -->
            <div class="offcanvas-header justify-content-end pb-2">
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar"
                      aria-label="Close"></button>
            </div>

            <!-- Offcanvas body -->
            <div class="offcanvas-body p-3 p-lg-0">
              <div class="card bg-light w-100">

                <!-- Edit profile button -->
                <div class="position-absolute top-0 end-0 p-3">
                  <a href="#" class="text-primary-hover" data-bs-toggle="tooltip" data-bs-title="Edit profile">
                    <i class="bi bi-pencil-square"></i>
                  </a>
                </div>

                <!-- Card body START -->
                <div class="card-body p-3">
                  <!-- Avatar and content -->
                  <div class="text-center mb-3">
                    <!-- Avatar -->
                    <div class="avatar avatar-xl mb-2">
                      <img class="avatar-img rounded-circle border border-2 border-white" [src]="user.imagePath || '/assets/images/avatar/13.jpg'" alt="">

                    </div>
                    <h6 class="mb-0">{{user.firstName}} {{user.lastName}}</h6>
<!--                    <a href="#" class="text-reset text-primary-hover small">hello@gmail.com</a>-->
                    <hr>
                  </div>

                  <!-- Sidebar menu item START -->
                  <ul class="nav nav-pills-primary-soft flex-column">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/account/profile"><i class="bi bi-person fa-fw me-2"></i>My
                        Profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/account/rides"><i class="bi bi-ticket-perforated fa-fw me-2"></i>My
                        Rides</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/account/bookings"><i class="bi bi-bookmark fa-fw me-2"></i>My
                        Bookings</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/account/travel-preferences"><i
                        class="bi bi-chat-quote fa-fw me-2"></i>Travel
                        Preferences</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/account/vehicles"><i class="bi bi-car-front-fill fa-fw me-2"></i>My
                        Vehicles</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/account/delete"><i class="bi bi-trash fa-fw me-2"></i>Delete
                        Profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/account/feedback"><i class="bi bi-star fa-fw me-2"></i>Give Your
                        Feedback</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-danger bg-danger-soft-hover" href="index-cab.html"><i
                        class="fas fa-sign-out-alt fa-fw me-2"></i>Sign
                        Out</a>
                    </li>
                  </ul>
                  <!-- Sidebar menu item END -->
                </div>
                <!-- Card body END -->
              </div>
            </div>
          </div>
          <!-- Responsive offcanvas body END -->

        </div>
        <!-- Sidebar END -->
        <!-- Main content START -->
        <div class="col-lg-8 col-xl-9">
          <router-outlet></router-outlet>
        </div>

      </div>
    </div>

  </section>

</main>
<app-footer></app-footer>
