<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <form class="vstack gap-4">


        <!-- Cab Detail START -->
        <div class="card shadow">
          <!-- Card header -->
          <div class="card-header border-bottom">
            <h5 class="mb-0">Vehicle Detail</h5>
          </div>

          <!-- Card body -->
          <div class="card-body">
            <div class="row g-3">
              <div class="col-md-6">
                <label class="form-label">Make<span class="text-danger">*</span></label>
                <select class="form-select js-choice">
                  <option value="">Select your vehicle make</option>
                  <option value="Audi">Audi</option>
                  <option value="BMW">BMW</option>
                  <option value="Buick">Buick</option>
                  <option value="Cadillac">Cadillac</option>
                  <option value="Chevrolet">Chevrolet</option>
                  <option value="Chrysler">Chrysler</option>
                  <option value="Dodge">Dodge</option>
                  <option value="Ferrari">Ferrari</option>
                  <option value="Ford">Ford</option>
                  <option value="GM">GM</option>
                  <option value="GEM">GEM</option>
                  <option value="GMC">GMC</option>
                  <option value="Honda">Honda</option>
                  <option value="Hummer">Hummer</option>
                  <option value="Hyundai">Hyundai</option>
                  <option value="Infiniti">Infiniti</option>
                  <option value="Isuzu">Isuzu</option>
                  <option value="Jaguar">Jaguar</option>
                  <option value="Jeep">Jeep</option>
                  <option value="Kia">Kia</option>
                  <option value="Lamborghini">Lamborghini</option>
                  <option value="Land Rover">Land Rover</option>
                  <option value="Lexus">Lexus</option>
                  <option value="Lincoln">Lincoln</option>
                  <option value="Lotus">Lotus</option>
                  <option value="Mazda">Mazda</option>
                  <option value="Mercedes-Benz">Mercedes-Benz</option>
                  <option value="Mercury">Mercury</option>
                  <option value="Mitsubishi">Mitsubishi</option>
                  <option value="Nissan">Nissan</option>
                  <option value="Oldsmobile">Oldsmobile</option>
                  <option value="Peugeot">Peugeot</option>
                  <option value="Pontiac">Pontiac</option>
                  <option value="Porsche">Porsche</option>
                  <option value="Regal">Regal</option>
                  <option value="Saab">Saab</option>
                  <option value="Saturn">Saturn</option>
                  <option value="Subaru">Subaru</option>
                  <option value="Suzuki">Suzuki</option>
                  <option value="Toyota">Toyota</option>
                  <option value="Volkswagen">Volkswagen</option>
                  <option value="Volvo">Volvo</option>
                </select>
              </div>

              <!-- Model -->
              <div class="col-md-6">
                <label class="form-label">Model<span class="text-danger">*</span></label>
                <select class="form-select js-choice">
                  <option value="">Select your vehicle model</option>
                  <option value="Audi">Audi</option>
                  <option value="BMW">BMW</option>
                  <option value="Buick">Buick</option>
                  <option value="Cadillac">Cadillac</option>
                  <option value="Chevrolet">Chevrolet</option>
                  <option value="Chrysler">Chrysler</option>
                  <option value="Dodge">Dodge</option>
                  <option value="Ferrari">Ferrari</option>
                  <option value="Ford">Ford</option>
                  <option value="GM">GM</option>
                  <option value="GEM">GEM</option>
                  <option value="GMC">GMC</option>
                  <option value="Honda">Honda</option>
                  <option value="Hummer">Hummer</option>
                  <option value="Hyundai">Hyundai</option>
                  <option value="Infiniti">Infiniti</option>
                  <option value="Isuzu">Isuzu</option>
                  <option value="Jaguar">Jaguar</option>
                  <option value="Jeep">Jeep</option>
                  <option value="Kia">Kia</option>
                  <option value="Lamborghini">Lamborghini</option>
                  <option value="Land Rover">Land Rover</option>
                  <option value="Lexus">Lexus</option>
                  <option value="Lincoln">Lincoln</option>
                  <option value="Lotus">Lotus</option>
                  <option value="Mazda">Mazda</option>
                  <option value="Mercedes-Benz">Mercedes-Benz</option>
                  <option value="Mercury">Mercury</option>
                  <option value="Mitsubishi">Mitsubishi</option>
                  <option value="Nissan">Nissan</option>
                  <option value="Oldsmobile">Oldsmobile</option>
                  <option value="Peugeot">Peugeot</option>
                  <option value="Pontiac">Pontiac</option>
                  <option value="Porsche">Porsche</option>
                  <option value="Regal">Regal</option>
                  <option value="Saab">Saab</option>
                  <option value="Saturn">Saturn</option>
                  <option value="Subaru">Subaru</option>
                  <option value="Suzuki">Suzuki</option>
                  <option value="Toyota">Toyota</option>
                  <option value="Volkswagen">Volkswagen</option>
                  <option value="Volvo">Volvo</option>
                </select>
              </div>


              <!-- Model Year -->
              <div class="col-md-6">
                <label class="form-label">Year of Manufacture<span class="text-danger">*</span></label>
                <select class="form-select js-choice">
                  <option value="">Select your model year</option>
                  <option value="Audi">Audi</option>
                  <option value="BMW">BMW</option>
                  <option value="Buick">Buick</option>
                  <option value="Cadillac">Cadillac</option>
                  <option value="Chevrolet">Chevrolet</option>
                  <option value="Chrysler">Chrysler</option>
                  <option value="Dodge">Dodge</option>
                  <option value="Ferrari">Ferrari</option>
                  <option value="Ford">Ford</option>
                  <option value="GM">GM</option>
                  <option value="GEM">GEM</option>
                  <option value="GMC">GMC</option>
                  <option value="Honda">Honda</option>
                  <option value="Hummer">Hummer</option>
                  <option value="Hyundai">Hyundai</option>
                  <option value="Infiniti">Infiniti</option>
                  <option value="Isuzu">Isuzu</option>
                  <option value="Jaguar">Jaguar</option>
                  <option value="Jeep">Jeep</option>
                  <option value="Kia">Kia</option>
                  <option value="Lamborghini">Lamborghini</option>
                  <option value="Land Rover">Land Rover</option>
                  <option value="Lexus">Lexus</option>
                  <option value="Lincoln">Lincoln</option>
                  <option value="Lotus">Lotus</option>
                  <option value="Mazda">Mazda</option>
                  <option value="Mercedes-Benz">Mercedes-Benz</option>
                  <option value="Mercury">Mercury</option>
                  <option value="Mitsubishi">Mitsubishi</option>
                  <option value="Nissan">Nissan</option>
                  <option value="Oldsmobile">Oldsmobile</option>
                  <option value="Peugeot">Peugeot</option>
                  <option value="Pontiac">Pontiac</option>
                  <option value="Porsche">Porsche</option>
                  <option value="Regal">Regal</option>
                  <option value="Saab">Saab</option>
                  <option value="Saturn">Saturn</option>
                  <option value="Subaru">Subaru</option>
                  <option value="Suzuki">Suzuki</option>
                  <option value="Toyota">Toyota</option>
                  <option value="Volkswagen">Volkswagen</option>
                  <option value="Volvo">Volvo</option>
                </select>
              </div>

              <!-- Color -->
              <div class="col-md-6">
                <label class="form-label">Color<span class="text-danger">*</span></label>
                <select class="form-select js-choice">
                  <option value="">Select your vehicle color</option>
                  <option value="Audi">Audi</option>
                  <option value="BMW">BMW</option>
                  <option value="Buick">Buick</option>
                  <option value="Cadillac">Cadillac</option>
                  <option value="Chevrolet">Chevrolet</option>
                  <option value="Chrysler">Chrysler</option>
                  <option value="Dodge">Dodge</option>
                  <option value="Ferrari">Ferrari</option>
                  <option value="Ford">Ford</option>
                  <option value="GM">GM</option>
                  <option value="GEM">GEM</option>
                  <option value="GMC">GMC</option>
                  <option value="Honda">Honda</option>
                  <option value="Hummer">Hummer</option>
                  <option value="Hyundai">Hyundai</option>
                  <option value="Infiniti">Infiniti</option>
                  <option value="Isuzu">Isuzu</option>
                  <option value="Jaguar">Jaguar</option>
                  <option value="Jeep">Jeep</option>
                  <option value="Kia">Kia</option>
                  <option value="Lamborghini">Lamborghini</option>
                  <option value="Land Rover">Land Rover</option>
                  <option value="Lexus">Lexus</option>
                  <option value="Lincoln">Lincoln</option>
                  <option value="Lotus">Lotus</option>
                  <option value="Mazda">Mazda</option>
                  <option value="Mercedes-Benz">Mercedes-Benz</option>
                  <option value="Mercury">Mercury</option>
                  <option value="Mitsubishi">Mitsubishi</option>
                  <option value="Nissan">Nissan</option>
                  <option value="Oldsmobile">Oldsmobile</option>
                  <option value="Peugeot">Peugeot</option>
                  <option value="Pontiac">Pontiac</option>
                  <option value="Porsche">Porsche</option>
                  <option value="Regal">Regal</option>
                  <option value="Saab">Saab</option>
                  <option value="Saturn">Saturn</option>
                  <option value="Subaru">Subaru</option>
                  <option value="Suzuki">Suzuki</option>
                  <option value="Toyota">Toyota</option>
                  <option value="Volkswagen">Volkswagen</option>
                  <option value="Volvo">Volvo</option>
                </select>
              </div>

              <!-- Image Gallery -->
              <div class="col-12">
                <label class="form-label">Upload image *</label>
                <div class="dropzone dropzone-custom"
                     data-dropzone='{"maxFiles": 5, "addRemoveLinks": false}'>
                  <div class="dz-message needsclick">
                    <i class="bi bi-upload display-3"></i>
                    <p>Drop files here or click to upload.</p>
                  </div>
                  <div class="dz-preview row g-4">
                    <div class="col-xl-2 col-md-4 col-sm-6">
                      <div class="card p-2 mb-0 shadow-none border position-relative h-100">
                        <!-- Image -->
                        <img data-dz-thumbnail src="#" class="rounded bg-light" alt="">
                        <!-- info -->
                        <div class="mt-2">
                          <a href="javascript:void(0);" class="text-muted fw-bold"
                             data-dz-name></a>
                          <p class="mb-0 small" data-dz-size></p>
                        </div>
                        <!-- Close btn -->
                        <div class="position-absolute top-0 start-100 translate-middle">
                          <a href="#!" class="btn btn-danger rounded-circle icon-sm p-0"
                             data-dz-remove>
                            <i class="fas fa-times"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="small mb-0 mt-2"><b>Note:</b> Only JPG, JPEG, and PNG. Our
                  suggested dimensions are 600px * 450px. The larger image will be cropped
                  to 4:3 to fit our thumbnails/previews.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Cab Detail END -->
      </form>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <form class="vstack gap-4">


        <!-- Cab Detail START -->
        <div class="card shadow">
          <!-- Card header -->
          <div class="card-header border-bottom">
            <h5 class="mb-0">Delete Vehicle</h5>
          </div>

          <!-- Card body -->
          <div class="card-body">
            <div class="row g-3">
              <!-- Model -->
              <div class="col-md-6">
                <div class="form-check form-check-md mb-3">
                  <input class="form-check-input" type="checkbox" value="" id="deleteaccountCheck">
                  <label class="form-check-label" for="deleteaccountCheck">Yes, I'd
                    like to delete my
                    vehicle</label>
                </div>
                <a href="#" class="btn btn-danger btn-sm mb-0">delete my vehicle</a>
              </div>

            </div>
          </div>
        </div>
        <!-- Cab Detail END -->



      </form>
    </div>
  </div>
</div>
