<div class="col-md-6 col-lg-4 col-xxl-3">
  <div class="card border h-80">
    <!-- Card body -->
    <div class="card-body text-center pb-0">
      <!-- Avatar Image -->
      <div class="avatar avatar-xl flex-shrink-0 mb-3">
        <img class="avatar-img rounded-circle" src="assets/images/avatar/09.jpg" alt="avatar">
      </div>
      <div class="row">
        <div class="col-12">
          <!-- Title -->
          <h5 class="mb-1">{{this.user.firstName}} {{this.user.lastName}}</h5>
          <h6 class="mb-0 small">{{this.userRate}}<i class="fa-solid fa-star text-warning ms-1"></i></h6>
        </div>
      </div>

    </div>
    <!-- card footer -->
    <div class="card-footer d-flex gap-3 align-items-center">
      <a href="admin-agent-detail.html" class="btn btn-sm btn-primary-soft mb-0 w-100">View
        detail</a>
    </div>
  </div>
</div>
