<!-- **************** MAIN CONTENT START **************** -->
<main>

  <!-- =======================
Main banner START -->
  <section>
    <div class="container">
      <div class="row mb-5">
        <div class="col-xl-10 mx-auto text-center">
          <!-- Title -->
          <h1>If You Want Explore The Beauty Of Jordan We Will Help You</h1>
        </div>
      </div> <!-- Row END -->
    </div>
  </section>
  <!-- =======================
Main banner START -->

  <!-- =======================
About content START -->
  <section class="pt-0 pt-lg-5">
    <div class="container">
      <!-- Content START -->
      <div class="row mb-4 mb-md-5">
        <div class="col-md-10 mx-auto">
          <h3 class="mb-4">Our Story</h3>
          <p class="mb-0">Once upon a time in Irbid, two brilliant students named Hasan Al Shannag and
            Bashar Al Said embarked on their final
            project at the Jordan University of Science and Technology. They were determined to address
            the transportation
            challenges in their city, and thus, the YallahRide website was born.<br><br>

            With their combined knowledge and passion for technology, Hasan and Bashar designed
            YallahRide as a platform connecting
            drivers and passengers for carpooling. Their vision was to optimize travel efficiency,
            reduce traffic congestion, and
            foster a sense of community among commuters. <br><br>

            Through countless hours of coding and testing, Hasan and Bashar created an intuitive
            website. Users could register as
            either drivers or passengers, input their travel preferences, and easily find matches. The
            duo incorporated advanced
            features such as secure payments and user ratings, ensuring a safe and reliable experience
            for all participants.<br><br>

            Upon presenting YallahRide to their professors and peers, Hasan and Bashar received
            resounding applause and praise.
            Their innovative solution and dedication to tackling transportation issues left an indelible
            mark on their university
            community.<br><br>

            With their graduation project, Hasan and Bashar felt immense pride. Their journey at the
            university had shaped them into problem solvers, innovators, and community builders. Their story served as an
            inspiration to future students, encouraging them to dream big, tackle real-world challenges, and create meaningful
            solutions.<br><br>
          </p>
        </div>
      </div>
      <!-- Content END -->
    </div>
  </section>
  <!-- =======================
About content END -->

  <!-- =======================
Team START -->
  <section class="pt-0">
    <div class="container">
      <!-- Title -->
      <div class="row mb-4 text-center">
        <div class="col-12">
          <h2 class="mb-0">Our Team</h2>
        </div>
      </div>

      <!-- Team START -->
      <div class="row g-4 justify-content-center">
        <!-- Team item START -->
        <div class="col-sm-6 col-lg-3">
          <div class="card card-element-hover bg-transparent">
            <div class="position-relative">
              <!-- Image -->
              <img src="https://yallah-ride-bucket.s3.eu-central-1.amazonaws.com/bb04e24b-d296-4723-9c43-ec134de601d4IMG_6698.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230625T235055Z&X-Amz-SignedHeaders=host&X-Amz-Expires=604800&X-Amz-Credential=AKIAU5G37O2QXJPQSWVO%2F20230625%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-Signature=34c08519ba27106d454c2d6c35e635fcace849f41c53e6c2e6820f5ba07480a8" class="card-img" alt="" style="width: 100%; height: auto;">

              <div class="card-img-overlay hover-element d-flex p-3">
                <!-- Category -->
                <div class="btn-group mt-auto">
                  <a href="#" class="btn btn-white mb-0"><i
                    class="fa-brands fa-facebook-f text-facebook"></i></a>
                  <a href="#" class="btn btn-white mb-0"><i
                    class="fa-brands fa-instagram text-instagram"></i></a>
                  <a href="#" class="btn btn-white mb-0"><i
                    class="fa-brands fa-twitter text-twitter"></i></a>
                </div>
              </div>
            </div>
            <!-- Card body -->
            <div class="card-body px-2 pb-0">
              <h5 class="card-title text-center"><a href="#">Hasan Al Shannag</a></h5>
              <p class="text-center"><span>Software Engineer</span></p>
            </div>
          </div>
        </div>
        <!-- Team item END -->

        <!-- Team item START -->
        <div class="col-sm-6 col-lg-3">
          <div class="card card-element-hover bg-transparent">
            <div class="position-relative">
              <!-- Image -->
              <img src="https://yallah-ride-bucket.s3.eu-central-1.amazonaws.com/c50af2dc-b665-4331-8609-030600f82f72DRB_7715.JPG?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230625T234900Z&X-Amz-SignedHeaders=host&X-Amz-Expires=604799&X-Amz-Credential=AKIAU5G37O2QXJPQSWVO%2F20230625%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-Signature=990cc09c232fc935d7765c58ea0a1eb04ee224025e80b7f58d64ce2a576acfaf" class="card-img" alt="">

              <div class="card-img-overlay hover-element d-flex p-3">
                <!-- Category -->
                <div class="btn-group mt-auto">
                  <a href="#" class="btn btn-white mb-0"><i
                    class="fa-brands fa-facebook-f text-facebook"></i></a>
                  <a href="#" class="btn btn-white mb-0"><i
                    class="fa-brands fa-instagram text-instagram"></i></a>
                  <a href="#" class="btn btn-white mb-0"><i
                    class="fa-brands fa-twitter text-twitter"></i></a>
                </div>
              </div>
            </div>
            <!-- Card body -->
            <div class="card-body px-2 pb-0">
              <h5 class="card-title text-center"><a href="#">Bashar Al Said</a></h5>
              <p class="text-center"><span>Software Engineer</span></p>
            </div>
          </div>
        </div>
        <!-- Team item END -->


      </div>
      <!-- Team END -->
    </div>
  </section>
  <!-- =======================
Team END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->
