<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <form class="vstack gap-4" [formGroup]="carForm" (ngSubmit)="onAddCarSubmit()">


        <!-- Cab Detail START -->
        <div class="card shadow">
          <!-- Card header -->
          <div class="card-header border-bottom">
            <h5 class="mb-0">Vehicle Detail</h5>
          </div>

          <!-- Card body -->
          <div class="card-body">
            <div class="row g-3">
              <div class="col-md-6">
                <label class="form-label">Make<span class="text-danger">*</span></label>
                <select class="form-select js-choice" [(ngModel)]="selectedCarId" (change)="onMakeSelection()"
                        formControlName="make">
                  <option value="">Select your car make</option>
                  <option *ngFor="let car of cars" [value]="car.name">{{ car.name }}</option>
                </select>
                <mat-error
                  *ngIf="carForm.controls['make'].hasError('required') && carForm.controls['make'].touched">
                  Last name must not be <strong>empty</strong></mat-error>
              </div>


              <!-- Model -->
              <div class="col-md-6">
                <label class="form-label">Model<span class="text-danger">*</span></label>
                <select class="form-select" formControlName="model" id="mySelect">
                  <option value="" disabled>Select your car model</option>
                </select>
                <mat-error
                  *ngIf="carForm.controls['model'].hasError('required') && carForm.controls['model'].touched">
                  Last name must not be <strong>empty</strong></mat-error>
              </div>

              <div class="col-md-6">
                <label class="form-label">Year of Manufacture<span class="text-danger">*</span></label>
                <select class="form-select js-choice" formControlName="modelYear">
                  <option value="default">Select your car year model</option>
                  <ng-container *ngFor="let year of generateYears();">
                    <option [value]="year">{{ year }}</option>
                  </ng-container>
                </select>
              </div>


              <!-- Color -->
              <div class="col-md-6">
                <label class="form-label">Color<span
                  class="text-danger">*</span></label>
                <select class="form-select js-choice" formControlName="color">
                  <option value="" selected>Select your car color</option>
                  <option value="red">Red</option>
                  <option value="blue">Blue</option>
                  <option value="green">Green</option>
                  <option value="yellow">Yellow</option>
                  <option value="black">Black</option>
                  <option value="white">White</option>
                  <option value="silver">Silver</option>
                  <option value="gray">Gray</option>
                  <option value="orange">Orange</option>
                  <option value="purple">Purple</option>
                  <option value="pink">Pink</option>
                  <option value="brown">Brown</option>
                  <option value="gold">Gold</option>
                  <option value="bronze">Bronze</option>
                  <option value="teal">Teal</option>
                  <option value="maroon">Maroon</option>
                  <option value="navy">Navy</option>
                  <option value="olive">Olive</option>
                  <option value="plum">Plum</option>
                  <option value="turquoise">Turquoise</option>
                  <option value="lime">Lime</option>
                </select>
              </div>


              <!-- Seats -->
              <div class="col-md-6">
                <label class="form-label">Number of Seats<span class="text-danger">*</span></label>
                <select class="form-select js-choice" formControlName="seats">
                  <option value="default">Select number of car seats</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>

              <!--  -->
              <div class="col-md-6">
                <label class="form-label">License Plate<span class="text-danger">* </span><i
                  class="bi bi-info-circle"></i></label>
                <div class="row">
                  <div class="col-3">
                    <input type="text" class="form-control" formControlName="code"
                           placeholder="XX">
                  </div>

                  <div class="col-9">
                    <input type="text" class="form-control" formControlName="number"
                           placeholder="XXXXX">
                  </div>

                </div>
              </div>


              <div class="col-12">
                <label class="form-label">Upload image *</label>
                <ngx-dropzone [processDirectoryDrop]="true" (change)="onSelect($event)" [expandable]="true">
                  <ngx-dropzone-label>
                    <div class="dz-message needsclick">
                      <i class="bi bi-upload display-3"></i>
                      <p>Drop files here or click to upload.</p>
                    </div>
                  </ngx-dropzone-label>
                  <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                                              [removable]="true" (removed)="onRemove(f)">
                    <ngx-dropzone-label><p class="mb-0 small text-white bg-dark" data-dz-size></p></ngx-dropzone-label>
                    <div class="hover-element w-100 h-100">
                      <i
                        class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
                    </div>
                  </ngx-dropzone-image-preview>
                </ngx-dropzone>
                <p class="small mb-0 mt-2"><b>Note:</b> Only JPG, JPEG, and PNG. Our
                  suggested dimensions are 600px * 450px. The larger image will be cropped
                  to 4:3 to fit our thumbnails/previews.</p>
                <div *ngIf="!isCarFormValid">
                  <p class="small mb-0 mt-2 text-danger"><b
                    class="text-danger">Error:</b> {{errorMessage}}</p>
                </div>
              </div>


            </div>
          </div>
        </div>
        <!-- Cab Detail END -->


        <!-- Button -->
        <div class="text-end">
          <button class="btn btn-primary mb-0">Add Car</button>
        </div>
      </form>
    </div>
  </div>
</div>
