<!-- **************** MAIN CONTENT START **************** -->
<main>


  <!-- Page content START -->
  <div class="page-content">

    <!-- Page main content START -->
    <div class="page-content-wrapper p-xxl-4">
      <div class="row g-4 mb-5">
        <!-- Agent info START -->
        <div class="col-md-4 col-xxl-3">
          <div class="card bg-light">
            <!-- Card body -->
            <div class="card-body text-center">
              <!-- Avatar Image -->
              <div class="avatar avatar-xl flex-shrink-0 mb-3">
                <img class="avatar-img rounded-circle" src="/assets/images/avatar/05.jpg"
                     alt="avatar">
              </div>
              <!-- Title -->
              <h5 class="mb-2">{{userDto.user.firstName}} {{userDto.user.lastName}}</h5>
              <ul class="list-inline small mb-0">
                <li class="list-inline-item me-0" *ngFor="let star of getFullStars(userDto.userRate)">
                  <i class="fa-solid fa-star text-warning"></i>
                </li>
                <li class="list-inline-item" *ngIf="hasHalfStar(userDto.userRate)">
                  <i class="fa-solid fa-star-half-alt text-warning"></i>
                </li>
              </ul>
            </div>
            <!-- Card footer -->
            <div class="card-footer bg-light border-top">
              <h6 class="mb-3">Contact Details</h6>
              <!-- Email id -->
              <div class="d-flex align-items-center mb-3">
                <div class="icon-md bg-mode h6 mb-0 rounded-circle flex-shrink-0"><i
                  class="bi bi-envelope-fill"></i></div>
                <div class="ms-2">
                  <small>Email id</small>
                  <h6 class="fw-normal small mb-0"><a href="#">{{userDto.account.email}}</a></h6>
                </div>
              </div>

              <!-- Phone -->
              <div class="d-flex align-items-center mb-3">
                <div class="icon-md bg-mode h6 mb-0 rounded-circle flex-shrink-0"><i
                  class="bi bi-telephone-fill"></i></div>
                <div class="ms-2">
                  <small>Phone</small>
                  <h6 class="fw-normal small mb-0"><a href="#">{{userDto.account.phoneNumber}}</a></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Agent info END -->

        <div class="col-md-8 col-xxl-9">
          <!-- Personal info START -->
          <div class="card shadow">
            <!-- Card header -->
            <div class="card-header border-bottom">
              <h5 class="mb-0">Personal Information</h5>
            </div>
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <!-- Information item -->
                <div class="col-md-6">
                  <ul class="list-group list-group-borderless">
                    <li class="list-group-item mb-3">
                      <span>Full Name:</span>
                      <span class="h6 fw-normal ms-1 mb-0">{{userDto.user.firstName}} {{userDto.user.lastName}}</span>
                    </li>

                    <li class="list-group-item mb-3">
                      <span>User Name:</span>
                      <span class="h6 fw-normal ms-1 mb-0">{{userDto.user.firstName}}</span>
                    </li>

                    <li class="list-group-item mb-3">
                      <span>Mobile Number:</span>
                      <span class="h6 fw-normal ms-1 mb-0">{{userDto.account.phoneNumber}}</span>
                    </li>

                  </ul>
                </div>

                <!-- Information item -->
                <div class="col-md-6">
                  <ul class="list-group list-group-borderless">
                    <li class="list-group-item mb-3">
                      <span>Email ID:</span>
                      <span class="h6 fw-normal ms-1 mb-0">{{userDto.account.email}}</span>
                    </li>

                    <li class="list-group-item mb-3">
                      <span>Gender:</span>
                      <span class="h6 fw-normal ms-1 mb-0">{{userDto.user.gender}}</span>
                    </li>


                    <li class="list-group-item mb-3">
                      <span>Joining Date:</span>
                      <span class="h6 fw-normal ms-1 mb-0">29 Aug 2019</span>
                    </li>
                  </ul>
                </div>

                <!-- Information item -->
                <div class="col-12">
                  <ul class="list-group list-group-borderless">
                    <li class="list-group-item">
                      <span>About me: </span>
                      <p class="h6 fw-normal mb-0">{{userDto.user.about}}
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- Personal info END -->
        </div>
      </div> <!-- Row END -->

      <!-- Page main content START -->
      <div class="page-content-wrapper p-xxl-4">

        <!-- Title -->
        <div class="row">
          <div class="col-12 mb-4 mb-sm-5">
            <hr>
          </div>
        </div>

        <!-- Review box START -->
        <div class="row g-4 g-xl-5 mb-5 justify-content-center">
          <!-- Growth -->
          <div class="col-md-6 col-lg-4">
            <div class="bg-light p-4 rounded text-center">
              <h6 class="fw-normal">Total Reviews</h6>
              <div class="d-flex align-items-center justify-content-center">
                <h2 class="mb-0 me-2">{{userDto.rates.length}}</h2>
              </div>
            </div>
          </div>

          <!-- Average rating -->
          <div class="col-md-6 col-lg-4">
            <div class="bg-light p-4 rounded text-center">
              <h6 class="fw-normal">Average Rating</h6>
              <div class="d-flex align-items-center justify-content-center">
                <h2 class="mb-0 me-2">{{userDto.userRate}}</h2>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item me-0" *ngFor="let star of getFullStars(userDto.userRate)">
                    <i class="fa-solid fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item" *ngIf="hasHalfStar(userDto.userRate)">
                    <i class="fa-solid fa-star-half-alt text-warning"></i>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
        <!-- Review box END -->


        <!-- Reviews START -->
        <div class="vstack gap-4 mt-5">
          <ng-container *ngFor="let rate of userDto.rates">
            <!-- Review item -->
            <div class="row g-3 g-lg-4">
              <div class="col-md-4 col-xxl-3">
                <!-- Avatar and info -->
                <div class="d-flex align-items-center">
                  <!-- Avatar -->
                  <div class="avatar avatar-xl me-2 flex-shrink-0">
                    <img class="avatar-img rounded-circle" src="/assets/images/avatar/09.jpg" alt="avatar">
                  </div>
                  <!-- Info -->
                  <div class="ms-2">
                    <h5 class="mb-1">{{rate.rater.firstName}} {{rate.rater.lastName}}</h5>
                    <p class="mb-0">Stayed {{getFormattedDate(rate.date)}}</p>
                  </div>
                </div>
              </div>

              <div class="col-md-8 col-xxl-9">
                <!-- Rating -->
                <ul class="list-inline mb-2">
                  <li class="list-inline-item me-0" *ngFor="let star of getFullStars(rate.rate)">
                    <i class="fa-solid fa-star text-warning"></i>
                  </li>
                  <li class="list-inline-item" *ngIf="hasHalfStar(rate.rate)">
                    <i class="fa-solid fa-star-half-alt text-warning"></i>
                  </li>
                </ul>
                <p>{{rate.description}}</p>
              </div>
            </div>

          </ng-container>


          <hr class="m-0"> <!-- Divider -->


          <!-- Pagination START -->
          <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
            <!-- Content -->
            <p class="mb-sm-0 text-center text-sm-start">Showing 1 to 8 of 20 entries</p>
            <!-- Pagination -->
            <nav class="mb-sm-0 d-flex justify-content-center" aria-label="navigation">
              <ul class="pagination pagination-sm pagination-primary-soft mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">Prev</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item disabled"><a class="page-link" href="#">..</a></li>
                <li class="page-item"><a class="page-link" href="#">15</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- Pagination END -->
        </div>
        <!-- Reviews END -->

      </div>
      <!-- Page main content END -->
    </div>
    <!-- Page main content END -->
  </div>
  <!-- Page content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->
