<!-- **************** MAIN CONTENT START **************** -->
<main>


  <!-- Page content START -->
  <div class="page-content">

    <!-- Page main content START -->
    <div class="page-content-wrapper p-xxl-4">
      <app-user-card-details [userDto]="userDto"></app-user-card-details>

      <!-- Reviews START -->
      <app-user-rates-card [rates]="userDto.rates" [userRate]="userDto.userRate"
                           [subject]="userDto.user"></app-user-rates-card>
      <!-- Reviews END -->
      <!-- Page main content END -->
    </div>
    <!-- Page content END -->
  </div>

</main>
<!-- **************** MAIN CONTENT END **************** -->
