<!-- Offcanvas menu button -->
<div class="d-grid mb-0 d-lg-none w-100">
  <button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
    <i class="fas fa-sliders-h"></i> Menu
  </button>
</div>

<div class="vstack gap-4">
  <!-- Verified message -->
  <div class="bg-light rounded p-3">
    <!-- Progress bar -->
    <div class="overflow-hidden">
      <h6>Complete Your Profile</h6>
      <div class="progress progress-sm bg-success bg-opacity-10">
        <div class="progress-bar bg-success aos" role="progressbar" data-aos="slide-right"
             data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out" style="width: 85%"
             aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
          <span class="progress-percent-simple h6 fw-light ms-auto">85%</span>
        </div>
      </div>
      <p class="mb-0">Get the best out of booking by adding the remaining details!</p>
    </div>
    <!-- Content -->
    <div class="bg-body rounded p-3 mt-3">
      <ul class="list-inline hstack flex-wrap gap-2 justify-content-between mb-0">
        <li class="list-inline-item h6 fw-normal mb-0"><a href="#"><i
          class="bi bi-check-circle-fill text-success me-2"></i>Verified Email</a></li>
        <li class="list-inline-item h6 fw-normal mb-0"><a href="#"><i
          class="bi bi-check-circle-fill text-success me-2"></i>Verified Mobile Number</a></li>
        <li class="list-inline-item h6 fw-normal mb-0"><a href="#" class="text-primary"><i
          class="bi bi-plus-circle-fill me-2"></i>Complete Basic Info</a></li>
      </ul>
    </div>
  </div>

  <!-- Personal info START -->
  <div class="card border">
    <!-- Card header -->
    <div class="card-header border-bottom">
      <h4 class="card-header-title">Personal Information</h4>
    </div>

    <!-- Card body START -->
    <div class="card-body">
      <!-- Form START -->
      <form [formGroup]="userForm" (ngSubmit)="onUserChangesSubmit()" class="row g-3">
        <!-- Profile photo -->
        <div class="col-12">
          <label class="form-label">Upload your profile photo<span class="text-danger">*</span></label>
          <div class="d-flex align-items-center">
            <label class="position-relative me-4" for="uploadfile-1" title="Replace this pic">
              <!-- Avatar place holder -->
              <span class="avatar avatar-xl">
												<img id="uploadfile-1-preview"
                             class="avatar-img rounded-circle border border-white border-3 shadow"
                             src="{{userObject.imagePath|| 'assets/images/avatar/13.jpg' }}" alt="">
											</span>
            </label>
            <!-- Upload button -->
            <label class="btn btn-sm btn-primary-soft mb-0" for="uploadfile-1">Change</label>
            <input id="uploadfile-1" class="form-control d-none" type="file" (change)="onFileSelected($event)">
          </div>
        </div>

        <!-- First Name -->
        <div class="col-md-6">
          <label class="form-label">First Name<span class="text-danger">*</span></label>
          <input type="text" class="form-control" formControlName="firstName"
                 placeholder="first name">
          <div>
            <mat-error
              *ngIf="userForm.controls['firstName'].hasError('required') && userForm.controls['firstName'].touched">
              First name must not be <strong>empty</strong></mat-error>

            <mat-error
              *ngIf="userForm.controls['firstName'].hasError('pattern')">
              First name must not contain <strong>special characters</strong> and <strong>numbers</strong></mat-error>
          </div>
        </div>

        <!-- Last Name -->
        <div class="col-md-6">
          <label class="form-label">Last Name<span class="text-danger">*</span></label>
          <input type="text" class="form-control" formControlName="lastName"
                 placeholder="last name">
          <div>
            <mat-error
              *ngIf="userForm.controls['lastName'].hasError('required') && userForm.controls['lastName'].touched">
              Last name must not be <strong>empty</strong></mat-error>
            <mat-error
              *ngIf="userForm.controls['lastName'].hasError('pattern')">
              Last name must not contain <strong>special characters</strong> and <strong>numbers</strong></mat-error>
          </div>
        </div>

        <!-- Email -->
        <div class="col-md-6">
          <label class="form-label">Email<span class="text-danger">*</span></label>
          <input type="text" class="form-control" value="{{accountObject.email}}" placeholder="Email"
                 disabled>
        </div>

        <!-- Phone Number -->
        <div class="col-md-6">
          <label class="form-label">Phone Number<span class="text-danger">*</span></label>
          <input type="text" class="form-control" value="{{accountObject.phoneNumber}}" placeholder="Phone Number"
                 disabled>
        </div>


        <!-- Date of birth -->
        <div class="col-md-6">
          <label class="form-label">Date of Birth<span class="text-danger">*</span></label>
          <input type="text" class="form-control" value="{{accountCreationDate}}" placeholder="Creation date"
                 disabled>
        </div>

        <!-- Gender -->
        <div class="col-md-6">
          <label class="form-label">Select Gender<span class="text-danger">*</span></label>
          <select formControlName="gender" class="form-select" name="gender" id="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>


        <!-- About me -->
        <div class="col-12">
          <label class="form-label">About me</label>
          <textarea class="form-control" rows="3" spellcheck="false" formControlName="about"></textarea>
        </div>

        <!-- Button -->
        <div class="col-12 text-end">
          <button class="btn btn-primary mb-0" [disabled]="!userForm.valid">Save Changes</button>
        </div>
      </form>
      <!-- Form END -->
    </div>
    <!-- Card body END -->
  </div>
  <!-- Personal info END -->

  <!-- Update email START -->
  <div class="card border">
    <!-- Card header -->
    <div class="card-header border-bottom">
      <h4 class="card-header-title">Update email</h4>
      <p class="mb-0">Your current email address is <span class="text-primary">{{accountObject.email}}</span></p>
    </div>

    <!-- Card body START -->
    <div class="card-body">
      <form [formGroup]="emailForm" (ngSubmit)="onEmailChangesSubmit()">
        <!-- Email -->
        <label class="form-label">Enter your new email id<span class="text-danger">*</span></label>
        <input formControlName="email" type="email" class="form-control" placeholder="Enter your email id">

        <div class="row">
          <div class="col-4 align-self-center">
            <div>
              <mat-error
                *ngIf="emailForm.controls['email'].hasError('required')&& emailForm.controls['email'].touched">
                email is <strong>required</strong></mat-error>
              <mat-error
                *ngIf="emailForm.controls['email'].hasError('email')&& emailForm.controls['email'].touched">
                enter a <strong>valid</strong> email address
              </mat-error>
              <mat-error
                *ngIf="emailForm.controls['email'].hasError('emailExists')&& emailForm.controls['email'].touched">
                email address already <strong>exist</strong></mat-error>
            </div>
          </div>
          <div class="col-8">
            <div class="text-end mt-3">
              <button class="btn btn-primary mb-0" [disabled]="!emailForm.valid">Save Email</button>
            </div>
          </div>
        </div>

      </form>
    </div>
    <!-- Card body END -->
  </div>
  <!-- Update email END -->

  <!-- Update phone number START -->
  <div class="card border">
    <!-- Card header -->
    <div class="card-header border-bottom">
      <h4 class="card-header-title">Update phone number</h4>
      <p class="mb-0">Your current phone number is <span class="text-primary">{{accountObject.phoneNumber}}</span></p>
    </div>

    <!-- Card body START -->
    <div class="card-body">
      <form [formGroup]="phoneNumberForm" (ngSubmit)="onPhoneNumberChangesSubmit()">
        <!-- Email -->
        <label class="form-label">Enter your new phone number<span class="text-danger">*</span></label>
        <input formControlName="phoneNumber" type="text" class="form-control" placeholder="e.g +962 79 9999 999">
        <div class="row">
          <div class="col-4 align-self-center">
            <div>
              <mat-error
                *ngIf="phoneNumberForm.controls['phoneNumber'].hasError('required')&& phoneNumberForm.controls['phoneNumber'].touched">
                phone number is <strong>required</strong></mat-error>
              <mat-error
                *ngIf="phoneNumberForm.controls['phoneNumber'].hasError('phoneExists')&& phoneNumberForm.controls['phoneNumber'].touched">
                Phone number already <strong>exist</strong></mat-error>
            </div>
          </div>
          <div class="col-8">
            <div class="text-end mt-3">
              <button class="btn btn-primary mb-0" [disabled]="!phoneNumberForm.valid">Save Phone Number</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- Card body END -->
  </div>
  <!-- Update phone number END -->

  <!-- Update Password START -->
  <div class="card border">
    <!-- Card header -->
    <div class="card-header border-bottom">
      <h4 class="card-header-title">Update Password</h4>
    </div>

    <!-- Card body START -->
    <form class="card-body" [formGroup]="passwordForm" (ngSubmit)="onPasswordChangesSubmit()">
      <!-- Current password -->
      <div class="mb-3">
        <label class="form-label">Current password<span class="text-danger">*</span></label>
        <input formControlName="currentPassword" class="form-control" type="password"
               placeholder="Enter current password">
        <div class="my-2">
          <mat-error
            *ngIf="passwordForm.controls['currentPassword'].hasError('required') && passwordForm.controls['currentPassword'].touched">
            current password is <strong>required</strong></mat-error>
          <mat-error
            *ngIf="passwordForm.controls['currentPassword'].hasError('confirmPassword')&& passwordForm.controls['currentPassword'].touched">
            password is <strong>incorrect</strong></mat-error>
        </div>
      </div>
      <!-- New password -->
      <div class="mb-3">
        <label class="form-label"> Enter new password<span class="text-danger">*</span></label>
        <div class="input-group">
          <input formControlName="newPassword" class="form-control fakepassword" placeholder="Enter new password"
                 type="password"
                 id="psw-input">
          <span class="input-group-text p-0 bg-transparent">
										<i class="fakepasswordicon fas fa-eye-slash cursor-pointer p-2"></i>
									</span>
        </div>
        <div class="my-2">
          <mat-error
            *ngIf="passwordForm.controls['newPassword'].hasError('required')&& passwordForm.controls['newPassword'].touched">
            new password is <strong>required</strong></mat-error>
          <mat-error
            *ngIf="passwordForm.controls['newPassword'].hasError('phoneExists')&& passwordForm.controls['newPassword'].touched">
            Phone number already <strong>exist</strong></mat-error>
        </div>
      </div>
      <!-- Confirm -->
      <div class="mb-3">
        <label class="form-label">Confirm new password<span class="text-danger">*</span></label>
        <input formControlName="confirmPassword" class="form-control" type="password"
               placeholder="Confirm new password">
        <div class="my-2">
          <mat-error
            *ngIf="passwordForm.controls['confirmPassword'].hasError('required')&& passwordForm.controls['confirmPassword'].touched">
            confirm password is <strong>required</strong></mat-error>
          <mat-error
            *ngIf="passwordForm.controls['confirmPassword'].hasError('phoneExists')&& passwordForm.controls['confirmPassword'].touched">
            Phone number already <strong>exist</strong></mat-error>
        </div>
      </div>
      <div class="row">
        <div class="col-4 align-self-center">
          <mat-error *ngIf="passwordForm.hasError('passwordMismatch', ['confirmPassword'])">
            Passwords do not <strong>match</strong>
          </mat-error>
        </div>

        <div class="col-8">
          <div class="text-end">
            <button class="btn btn-primary mb-0" [disabled]="!passwordForm.valid">Change Password</button>
          </div>
        </div>
      </div>
    </form>
    <!-- Card body END -->
  </div>
  <!-- Update Password END -->
</div>
<!-- Main content END -->
