<!-- Offcanvas menu button -->
<div class="d-grid mb-0 d-lg-none w-100">
  <button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
    <i class="fas fa-sliders-h"></i> Menu
  </button>
</div>

<!-- travel preferences info START -->
<div class="card border">
  <!-- Card header -->
  <div class="card-header border-bottom">
    <h4 class="card-header-title">Travel Preferences</h4>
  </div>

  <!-- Card body START -->
  <div class="card-body">
    <!-- Form START -->
    <form class="row g-3" [formGroup]="travelPreferencesFrom" (ngSubmit)="onSubmit()">

      <div class="col-md-6">
        <label class="form-label">Chattiness</label>
        <select id="Chattiness" class="form-select " formControlName="chattinessTravelPreferencesChoice">
          <option value="" selected>Select Chattiness Travel Preference</option>
        </select>
        <mat-error
          *ngIf="travelPreferencesFrom.controls['chattinessTravelPreferencesChoice'].hasError('required') &&
           travelPreferencesFrom.controls['chattinessTravelPreferencesChoice'].touched">
          First name must not be <strong>empty</strong>
        </mat-error>
      </div>


      <!-- Music -->
      <div class="col-md-6">
        <label class="form-label">Music</label>
        <select id="Music" class="form-select " formControlName="musicTravelPreferencesChoice">
          <option value="" selected>Select Music Travel Preference</option>
        </select>
        <mat-error
          *ngIf="travelPreferencesFrom.controls['musicTravelPreferencesChoice'].hasError('required') &&
           travelPreferencesFrom.controls['musicTravelPreferencesChoice'].touched">
          First name must not be <strong>empty</strong>
        </mat-error>
      </div>

      <!-- Smoking -->
      <div class="col-md-6">
        <label class="form-label">Smoking</label>
        <select id="Smoking" class="form-select " formControlName="smokingTravelPreferencesChoice">
          <option value="" selected>Select Smoking Travel Preference</option>
        </select>
        <mat-error
          *ngIf="travelPreferencesFrom.controls['smokingTravelPreferencesChoice'].hasError('required') &&
           travelPreferencesFrom.controls['smokingTravelPreferencesChoice'].touched">
          First name must not be <strong>empty</strong>
        </mat-error>
      </div>

      <!-- Pets -->
      <div class="col-md-6">
        <label class="form-label">Pets</label>
        <select id="Pets" class="form-select " formControlName="petTravelPreferencesChoice">
          <option value="" selected>Select Pets Travel Preference</option>
        </select>
        <mat-error
          *ngIf="travelPreferencesFrom.controls['petTravelPreferencesChoice'].hasError('required') &&
           travelPreferencesFrom.controls['petTravelPreferencesChoice'].touched">
          First name must not be <strong>empty</strong>
        </mat-error>
      </div>


      <!-- Button -->
      <div class="col-12 text-end">
        <button class="btn btn-primary mb-0" [disabled]="!travelPreferencesFrom.valid">Save Changes</button>
      </div>
    </form>
    <!-- Form END -->
  </div>
  <!-- Card body END -->
</div>
<!-- travel preferences info END -->
