<main>
<!-- Offcanvas menu button -->
<div class="d-grid mb-0 d-lg-none w-100">
  <button class="btn btn-primary mb-4" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
    <i class="fas fa-sliders-h"></i> Menu
  </button>
</div>

<div class="card border bg-transparent">
  <div class="card-header bg-transparent border-bottom d-flex justify-content-between">
    <h4 class="card-header-title">My Rides</h4>
    <div class="mt-2 mt-md-0">
      <a routerLink="/account/add-ride" class="btn btn-success mb-0">Add Ride</a>
    </div>
  </div>


  <!-- Card body START -->
  <div class="card-body p-0">

    <!-- Tabs -->
    <ul class="nav nav-tabs nav-bottom-line nav-responsive nav-justified">
      <li class="nav-item">
        <a class="nav-link mb-0 active" data-bs-toggle="tab" href="#tab-1"><i
          class="bi bi-briefcase-fill fa-fw me-1"></i>Upcoming Rides</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-2"><i
          class="bi bi-x-octagon fa-fw me-1"></i>Canceled Rides</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-3"><i
          class="bi bi-patch-check fa-fw me-1"></i>Completed Rides</a>
      </li>
    </ul>

    <!-- Tabs content START -->
    <div class="tab-content p-2 p-sm-4" id="nav-tabContent">

      <!-- Tab content item START -->
      <div class="tab-pane fade show active" id="tab-1">
        <h6>Upcoming Rides ({{getRidesByStatus(RideStatus.Active)}})</h6>
        <!-- Card item START -->
        <ng-container *ngFor="let ride of rides">
          <app-ride-card *ngIf="ride.rideStatus==RideStatus.Active" [isDriver]="true" [ride]="ride"></app-ride-card>
        </ng-container>
        <!-- Card item END -->
      </div>

      <!-- Tabs content item END -->

      <!-- Tab content item START -->
      <div class="tab-pane fade" id="tab-2">
        <h6>Cancelled booking ({{getRidesByStatus(RideStatus.Canceled)}})</h6>

        <ng-container *ngFor="let ride of rides">
          <app-ride-card *ngIf="ride.rideStatus==RideStatus.Canceled" [isDriver]="true"  [ride]="ride"></app-ride-card>
        </ng-container>

      </div>
      <!-- Tabs content item END -->

      <!-- Tab content item START -->
      <div class="tab-pane fade" id="tab-3">
        <h6>Completed Rides ({{getRidesByStatus(RideStatus.Completed)}})</h6>
        <!-- Card item START -->
        <ng-container *ngFor="let ride of rides">
          <app-ride-card *ngIf="ride.rideStatus==RideStatus.Completed" [ride]="ride"></app-ride-card>
        </ng-container>

        <!-- Card item START -->
        <!-- Card item END -->
      </div>
      <!-- Tabs content item END -->
    </div>

  </div>
  <!-- Card body END -->
</div>
</main>
