<!-- **************** MAIN CONTENT START **************** -->
<main>

  <!-- =======================
  Main banner START -->
  <section class="pt-4 pt-lg-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dots justify-content-center">
              <li class="breadcrumb-item"><a href="index.html"><i class="bi bi-house me-1"></i> Home</a></li>
              <li class="breadcrumb-item active">Faqs</li>
            </ol>
          </nav>
          <!-- Title -->
          <h6 class="text-primary">Faqs</h6>
          <h1>Frequently Asked Questions</h1>

        </div>
      </div>
    </div>
  </section>
  <!-- =======================
  Main banner END -->

  <!-- =======================
  Faqs START -->
  <section class="pt-0">
    <div class="container">
      <div class="row">
        <div class="col-xl-10 mx-auto">
          <div class="vstack gap-4">
            <!-- Card item START -->
            <div class="card border bg-transparent p-0">
              <!-- Card header -->
              <div class="card-header bg-transparent border-bottom p-4">
                <h5 class="mb-0">General FAQ</h5>
              </div>

              <!-- Card body -->
              <div class="card-body p-4 pt-0">
                <!-- Faq item -->
                <div class="mt-4">
                  <h6 class="fw-normal">What is carpooling?</h6>
                  <p class="mb-0">Carpooling is the act of sharing a ride with others who are traveling in the same direction. It involves multiple
                    passengers sharing a single vehicle to reach their destinations.</p>
                </div>

                <!-- Faq item -->
                <div class="mt-4">
                  <h6 class="fw-normal">How does carpooling work?</h6>
                  <p class="mb-0">Carpooling works by connecting drivers and passengers who are headed in the same direction. The carpooling website
                    facilitates this connection by allowing users to create profiles, search for available rides, and coordinate pick-up and
                    drop-off locations.</p>
                </div>

                <!-- Faq item -->
                <div class="mt-4">
                  <h6 class="fw-normal">Is carpooling safe?</h6>
                  <p class="mb-0">Safety is a top priority for carpooling websites. User profiles and reviews help build a sense of trust within the
                    community. Additionally, many platforms offer features like driver background checks, vehicle information, and secure
                    messaging to ensure a safe and reliable carpooling experience.</p>
                </div>

                <!-- Faq item -->
                <div class="mt-4">
                  <h6 class="fw-normal">How do I find a carpool?</h6>
                  <p class="mb-0">If you have an available seat in your vehicle and want to offer a ride, you can create a listing on the carpooling
                    website. Provide details such as your starting location, destination, departure time, and the number of available seats.
                    Interested passengers can then request to join your ride.</p>
                </div>

                <!-- Faq item -->
                <div class="mt-4">
                  <h6 class="fw-normal">How do I offer a ride?</h6>
                  <p class="mb-0">To find a carpool, you can browse available rides on the carpooling website. You can search for rides
                    based on your
                    location, destination, and desired travel time. Once you find a suitable ride, you can request to join and
                    coordinate
                    the details with the driver.</p>
                </div>

                <!-- Faq item -->
                <div class="mt-4">
                  <h6 class="fw-normal">How much does carpooling cost?</h6>
                  <p class="mb-0">The cost of carpooling can vary depending on factors such as distance, fuel prices, and any
                    additional costs specified
                    by the driver. Some carpooling websites allow drivers to set a price per seat, while others may suggest a
                    contribution
                    towards fuel expenses. Make sure to clarify the cost with the driver before finalizing the arrangement.</p>
                </div>

                <!-- Faq item -->
                <div class="mt-4">
                  <h6 class="fw-normal">Can I carpool for daily commuting?</h6>
                  <p class="mb-0">Absolutely! Carpooling is a great option for daily commuting. Many people use carpooling as an
                    efficient and
                    cost-effective way to travel to and from work or school. By sharing the ride, you can save on fuel expenses,
                    reduce
                    traffic congestion, and even enjoy some company during your commute.</p>
                </div>

                <!-- Faq item -->
                <div class="mt-4">
                  <h6 class="fw-normal">Are there any specific rules or etiquette for carpooling?</h6>
                  <p class="mb-0">While specific rules and etiquette may vary, here are some general guidelines:</p>
                  <ul>
                    <li>Be punctual and respect the agreed-upon pick-up and drop-off times.</li>
                    <li>Keep the vehicle clean and tidy.</li>
                    <li>Be considerate of the driver's preferences (e.g., music, temperature).</li>
                    <li>Follow any rules set by the driver, such as no smoking or eating in the car.</li>
                    <li>Communicate any changes or delays promptly.</li>
                    <li>Treat others with respect and maintain a friendly and cooperative atmosphere during the ride.</li>
                  </ul>
                </div>
              </div>
            </div>
            <!-- Card item END -->

            <!-- Card item START -->
            <div class="card bg-transparent border p-0">
              <!-- Card header -->
              <div class="card-header bg-transparent border-bottom p-4">
                <h5 class="mb-0">Cancellation</h5>
              </div>

              <!-- Card body -->
              <div class="card-body p-4 pt-0">
                <!-- Faq item -->
                <div class="mt-4">
                  <h6 class="fw-normal">Can I cancel my carpool ride?</h6>
                  <p class="mb-0">Yes, you can cancel your carpool ride if necessary. However, it's important to consider the impact
                    it may have on the
                    other passengers and the driver. We encourage you to cancel only if absolutely necessary and provide as much
                    notice as
                    possible.</p>
                </div>

                <!-- Faq item -->
                <div class="mt-4">
                  <h6 class="fw-normal">Will the carpooling website inform the other passengers if I cancel my ride?</h6>
                  <p class="mb-0">Yes, in most cases, the carpooling website will notify the other passengers if you cancel your ride.
                    The platform aims
                    to maintain transparency and facilitate smooth communication between users. However, it's still recommended to
                    inform
                    the other passengers directly about the cancellation, especially if it's a last-minute change.</p>
                </div>

                <!-- Faq item -->
                <div class="mt-4">
                  <h6 class="fw-normal">What happens if I cancel my ride at the last minute?</h6>
                  <p class="mb-0">Canceling a ride at the last minute can disrupt the plans of other passengers and the driver. Depending on the
                    carpooling website's policies, repeated last-minute cancellations may result in penalties or account suspension. It's
                    crucial to be considerate of others' time and commitments.</p>
                </div>
              </div>
            </div>
            <!-- Card item END -->

            <!-- Card item START -->
            <div class="card bg-transparent border p-0">
              <!-- Card header -->
              <div class="card-header bg-transparent border-bottom p-4">
                <h5 class="mb-0">Payment</h5>
              </div>

              <!-- Card body -->
              <div class="card-body p-4 pt-0">
                <!-- Faq item -->
                <div class="mt-4">
                  <h6 class="fw-normal">Can I pay the driver in cash for the carpooling ride?</h6>
                  <p class="mb-0">Yes, our carpooling website allows cash payments to drivers for the rides. Cash payments provide a convenient and direct
                    way to compensate the driver for their service.</p>
                </div>

                <!-- Faq item -->
                <div class="mt-4">
                  <h6 class="fw-normal">Is cash the only accepted payment method for drivers?</h6>
                  <p class="mb-0">Currently, cash is the only accepted payment method for drivers on our carpooling website. We have designed our platform
                    to facilitate cash transactions between the passenger and the driver at the time of the ride.</p>
                </div>

                <!-- Faq item -->
                <div class="mt-4">
                  <h6 class="fw-normal">Are there any risks associated with paying the driver in cash?</h6>
                  <p class="mb-0">While cash payments are generally safe, it is essential to exercise caution when carrying cash. Be
                    mindful of your
                    personal safety and take necessary precautions while conducting cash transactions. It is always a good practice
                    to meet
                    in public, well-lit areas for the exchange of cash.</p>
                </div>

                <!-- Faq item -->
                <div class="mt-4">
                  <h6 class="fw-normal">Can I change the payment method from cash to another option?</h6>
                  <p class="mb-0">Currently, our platform only supports cash payments for drivers. If you prefer using a different
                    payment method, we
                    recommend discussing alternative options with the driver or exploring other carpooling platforms that offer
                    different
                    payment methods.</p>
                </div>

                <!-- Faq item -->
                <div class="mt-4">
                  <h6 class="fw-normal">Can I tip the driver in addition to the cash payment?</h6>
                  <p class="mb-0">Tipping is a personal choice and depends on your satisfaction with the driver's service. If you feel inclined to tip the
                    driver, you can do so in cash at your discretion. Tipping is not mandatory but is appreciated by many drivers.</p>
                </div>

              </div>
            </div>
            <!-- Card item END -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- =======================
  Faqs END -->


</main>
<!-- **************** MAIN CONTENT END **************** -->
